<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 	<head>
    	<img class="header-title" alt="Your file has been created" src="images/success.png" width="299" height="149"/>
        <h1>Please click the link below to download your JSONP file.</h1>
		<p class='center'><a href='<%= file %>' download>Download JSONP file</a></p>
	    <p class='center'><a href='/'>Click here to start again</a></p>
    </head>
	<footer>
    	<img class="footer-logo" alt="Sky Works logo" src="images/sky-works-logo.png" width="160" height="32"/>
    </footer>
  </body>
</html>