<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>There was a fault... apologies!</title>
<link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
	<head>
    	<img class="header-title" alt="NOW TV DCO app failed to generate your JSONP file." src="images/fault.png" width="299" height="149"/>
        <h2 class='center'><a href="/">Click here to try again</a></h2>
    </head>
    <footer>
    	<img class="footer-logo" alt="Sky Works logo" src="images/sky-works-logo.png" width="160" height="32"/>
    </footer>
</body>
</html>